.main{
    width: 90%;
    height: auto;
    max-width: 600px;
    background-image: linear-gradient(120deg,#00feba,#5b548a);
    padding: 50px 40px;
    border-radius: 20px;
    margin: 10px auto 0;
}
.navbar{
    display: inline;
}
input{
    font-size: large;
}
h1,h2,h3{
    font-family: sans-serif;
}
#cityname{
    font-size: xx-large;
}
a{
    width: 50px;
    height: 50px;
    display: flex;
    float: left;
}
.search{
    display: block;
}
input{
    padding: 5px 25px;
    background-color: lightcyan;
    border: 2px solid lightblue;
    color: black;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    justify-content: space-between;
}
button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #52648E;
} 
#daydate{
    font-family: sans-serif;
    font-size: large;
}
.weather{
    color: #f1f1f1;
    display: inline-flex;
    justify-content: space-between;
}
.maininfo{
    width: 50%;
    float: left;
}
.weather-icon{
    display: block;
    margin:0 auto;
    width: 300px;
    height: 300px;
}
.weatherinfo{
    padding-left: 10rem;
    width: 50%;
    float: right;
}
.Humidity{
    border: 4px solid lightblue ;
    background-color: lightblue;
    margin: 1rem;
    border-radius: 20px;
    opacity: 0.8;
    color: black;
}
.Humidity:hover{
    transform: scale(1.2);
    position: relative;
}
#humeimg{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.humdetail{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}

.Wind{
    border: 4px solid lightblue;
    background-color: lightblue;
    margin: 1rem;
    border-radius: 20px;
    opacity: 0.8;
    color: black;
}
.Wind:hover{
    transform: scale(1.2);
    position: relative;
}
#windimg{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.winddetail{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}
.pressure{
    border: 4px solid lightblue;
    background-color: lightblue;
    margin: 1rem;
    border-radius: 20px;
    opacity: 0.8;
    color: black;

}
.pressure:hover{
    transform: scale(1.2);
    position: relative;
}
#pressureimg{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px; 
}
.pressdetail{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}