.div1{
    width: 50%;
    background-color:rgb(109,151,115) ;
    float: right;
    height:600px;
}
h1{
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 75px;

}
p{
    margin-top: 150px;
    width: 100%;
    color: white;
    font-size: 25px;
    font-style: normal;
    margin-left: 150px;
}
.div2{
    width: 50%;
    float: left;
    height: 600px;
}
img{
    width: 100%;
    height: 600px;
}